    body {
        margin: 0;
        padding: 0;
        font-family: Verdana;
    }
    
    .app {
        display: flex;
        flex-direction: column;
        justify-content: top;
        justify-content: space-around;
    }
    
    .header-bar {
        background-color: #70D4B4;
        width: 100%;
        height: 60px;
        margin-bottom: 30px;
    }
    
    .nav-words {
        float: right;
        text-align: center;
        padding: 14px 18px;
        font-size: 18px;
        font-weight: bold;
        color: black;
    }
    
    .home {
        margin-top: 30px;
        padding: 30px;
        text-align: center;
    }
    
    .login-form {
        display: flex;
        flex-direction: column;
        flex-direction: space-around;
        background-color: #70D4B4;
        margin: auto;
        width: 30%;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
    }
    
    .login-button,
    .answer-button,
    .next-question {
        box-sizing: border-box;
        background-color: black;
        width: 170px;
        color: white;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        padding: 20px;
        margin: auto;
        font-size: 18px;
    }
    
    .question-form {
        background-color: #AAAAAA;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        display: table;
        margin: auto;
    }
    
    .dashboard {
        background-color: #F1EFB9
    }
    
    #username,
    #password,
    #answer {
        margin: 10px;
        border-radius: 5px;
        height: 20px;
        width: 170px;
    }
    
    .form-input {
        margin: auto;
    }